<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="at.ac.tuwien.big.momot.lang.ui.MOMoTLaunchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="at.ac.tuwien.big.momot.examples.emfrefactor.EMFRefactorSearch"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="at.ac.tuwien.big.momot.examples.emfrefactor"/>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
</launchConfiguration>
